.logo {
  align-items: center;
  column-gap: 0.75rem;
  &__img {
    width: 2.563rem;
    height: 2.563rem;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $blue-color;
    @include font(1.625rem, $font-bold, $white-color, 2.063rem);
    &--blue {
      background-color: $white-color;
      color: $blue-color;
    }
  }
  &__text {
    @include font($h2-font-size, $font-bold, $dark-blue-color, 1.875rem);
    &--white {
      color: $white-color;
    }
  }
}
